
body {
    background-color:#f3aab0;
}

html {
    font-family: "Nunito Sans", sans-serif;
}
 .blub h2{
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}
 .blub p{
    color: #ea1c2c;
    font-size:medium;
    line-height: 2;
}
.content{
    margin-top: 100px;
}

 #mainnavbar .navbar-brand {
    color:#f00e21;
    font-size: 4rem;
    font-weight: 500;
    text-shadow:10px 5px 5px rgb(221, 155, 155) ;
    opacity: 0.6;
}
#mainnavbar .navbar-brand:hover{
    transform: scale(1.1);
    color:#ec1a2c;
} 
#mainnavbar .nav-link{
    color: white;
    font-size: 1.5rem;
    font-weight: 100;
}
#mainnavbar .nav-link:hover{
    color: #ea1c2c;
   
}
.navbar-toggler-icon{
    color: #f3093b;
}
#headingroups span{
    color: #ea1c2c;

}
#headingroups h1{
    font-weight: 100;
    font-size: 4rem;
    
}
#mainnavbar .scrolled{
    background-color: rgb(243, 215, 239);
}
 


    @media (max-width:1200px){

        #headingroups h1{
            font-weight: 100;
            font-size: 3rem;
    }

    }
    